.menu {
  display: block;
  text-indent: -999999px;
}
.menu::before,
.menu::after, 
.menu > .center{
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-fourth);
}

.menu::before, 
.menu > .center {
  margin-bottom: 5px;
}