.about{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-negative);
  position: absolute;
  left: 0;
  top: 0;
}

.about > .header-internal {
  margin-bottom: var(--spacing-very-big);
}