.icon-close{
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}
.icon-close::before,
.icon-close::after{
  content: "";
  display: inline-block;
  width: 32px;
  height: 4px;
  background: var(--color-zero);
  border-radius: 2px;
  position: absolute;
}
.icon-close::before{
  top: -1px;
  left: 2px;
  transform: rotate(45deg);
  transform-origin: left top;
}
.icon-close::after{
  right: 2px;
  top: -1px;
  transform-origin: top right;
  transform: rotate(-45deg);
}
.icon-close > .content{
  display: inline-block;
  text-indent: -999999px;
}